<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOSRxArchitecture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C12FD85C1D92813D00448187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C12FD8701D92813D00448187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C12FD87B1D92813D00448187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
